
#titulo {
    color: brown;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 3px;

}

.texto {
    color :slateblue;
}

div p {
    color : aquamarine;
}

div h2, div h3 {
    color: brown;

}

/* {
    background-image: linear-gradient(to right top, #004ea3, #005689, #005461, #2b4c46, #424342);
   font-size: 24px;

}
.color {
    color: black
}
*/

.color{
   /* border: 4px purple solid;*/

   border-style: solid;
   border-color: blue;
   border-radius: 5px;
   border-width: 3px;
}