@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    font-family: "Ubuntu",sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: rgb(46, 46, 46);
    font-size: 35px;
    font-weight: 600;
    padding-left: 5px;
}


.navbar .logo a span{
    color: rgba(11,172,181,1);
    transition: all 0.3s ease;
}

.navbar .menu il{
    list-style: none;
    display: inline-block;
}
.navbar .menu il a{
    color: rgb(46, 46, 46);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease; 
}

.navbar .menu il a:hover{
    color: rgba(11,172,181,1);
}

.navbar.sticky{
    padding: 15px 0;
    background: rgba(11,172,181,1);
    
}
.navbar.sticky .logo a span{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.navbar.sticky .menu il a:hover{
    color: rgb(255, 255, 255);
}
/*Menu btn*/

.menu-btn{
    color: #020202;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* All similar style */
section .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    color: rgb(46, 46, 46);
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(46, 46, 46);
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    left: 50%;
    font-size: 20px;
    color: rgba(11,172,181,1);
    padding: 5px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}


/*home section styling*/

.home{
    display: flex;
    background: linear-gradient(18deg, rgb(15, 170, 179) 0%, rgb(255, 255, 255) 32%);
    height: 100vh;
    color: rgb(46, 46, 46);
    min-height: 500px;
    font-family: "Ubuntu",sans-serif;
}

.home .max-width{
    /*margin: auto 0 auto 40px;*/
    display: flex;
    align-content: center;
    align-items: center; 
}

.home .home-content{
    margin-top: 1em;
    padding: 2em;
    position: flex;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow:0 8px 32px 0 rgba(17, 203, 212, 0.37);
    backdrop-filter: blur(2px);
    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
}

.home .home-content .text-1{
    font-size: 18px;

}

.home .home-content .text-2{
    font-size: 40px;
    font-weight: 500;
    margin-left: -2px;
}

.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
    
}

.home .home-content .text-3 span{
    color: rgba(11,172,181,1);
    font-weight: 500;
}


/* About Me Styling */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(18deg, rgb(158, 161, 161) 0%, rgb(255, 255, 255) 32%);
}

.about .title::before{
    bottom: -160px;
}

.about .title::after{
    content: "who i am";
    bottom: -174px;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .right{
    width: 55%;
    color: rgb(46, 46, 46);
}

.about .about-content .right .social{
    margin-top: 10px;
}

.about .about-content .right .social img{
    width: 58px;
    height: 65px;
    padding: 20px 10px 10px 10px;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.about .about-content .right .text span{
    color: rgba(11,172,181,1);
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right .cv{
    display: inline-block;
    background: rgba(11,172,181,1);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding: 1px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(11,172,181,1);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: rgba(11,172,181,1);
    background: none;
}

/* Skills Section */

.skills{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(18deg,rgb(255, 255, 255) 10%, rgb(15, 170, 179) 40%);
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills-content .box-skills{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 2rem 50px;
    font-size: 10px;
}

.skills-content .box-skills .card-skills{
    width: 100px;
    height: 100px;
    padding: 1rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(13, 107, 112);
    border-radius: 10px;
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease;
}

/* .skills-content .box-skills .card-skills .img{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 45px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.skills-content .box-skills .skill-icon{
    position: relative;
    width: 30px;
}

/* .skills-content .box-skills .card-skills .button{
    display: inline-block;
    background: rgba(11,172,181,1);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 10px;
    padding: 1px 10px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid rgba(11,172,181,1);
    transition: all 0.3s ease;
} */

/* .skills-content .box-skills .card-skills .button:hover{
    color: rgba(11,172,181,1);
    background: #FFFFFF;
} */

.skills-content .card-skills:hover{
    transform: scale(1.2);
}


.skills .title::before{
    bottom: -900px;
}
.skills .title::after{
    content: "what i know";
    bottom: -913px;
    color: rgb(255, 255, 255);
    background: rgba(11,172,181,1);;
}

/* Projects Section */

.projects{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(18deg, rgb(158, 161, 161) 0%, rgb(255, 255, 255) 32%);
}

.projects .title::before{
    bottom: -1511px;
    width: 200px;
}
.projects .title::after{
    content: "what have i done";
    bottom: -1525px;
    color: rgba(11,172,181,1);
    background: rgb(255, 255, 255);

}
.projects .projects-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.projects .projects-content .box-projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 2rem 10px;
    font-size: 12px;
}

.projects .projects-content .box-projects .card-project{
    width: 250px;
    height: 375px;
    padding: 1rem;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(13, 107, 112);
    border-radius: 10px;
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.06);
    transition: all 0.5s ease;
}
.projects .projects-content .box-projects .card-project:hover{
    transform: scale(1.5);
}
.projects .projects-content .box-projects .card-project img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.projects .projects-content .box-projects .card-project .links{
    color: #FFFFFF;
    cursor: pointer;
}

.projects .projects-content .box-projects .card-project h3 p{
    padding: 10px;
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.06);
}

.repository{
    display: inline-block;
    background: rgba(11,172,181,1);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 11px;
    padding: 1px 8px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid rgba(11,172,181,1);
    transition: all 0.3s ease;
}

/* Contacts Section */
.contact{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(18deg,rgb(255, 255, 255) 10%, rgb(15, 170, 179) 40%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .title::before{
    bottom: -2270px;
}
.contact .title::after{
    content: "contact me";
    bottom: -2284px;
    color: #FFFFFF;
    background: rgba(11,172,181,1);

}

.contact .contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background: rgba(245, 244, 244, 0.3);
    box-shadow:0 8px 32px 0 rgba(84, 85, 85, 0.37);
    backdrop-filter: blur(2px);
}
.contact .contact-content .field{
    position: relative;
    padding: 5px;
    margin: 5px;
}

.contact .contact-content .art-input{
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font: inherit;
    color: #333232;
    background-color: transparent;
    outline: 0.5px solid #535353;
    margin-bottom: 10px;
}

.contact .contact-content .input-label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(14px, -20px);
    transform-origin: left;
    transition: transform .25s;
}


.contact .contact-content .art-input:is(:focus, :valid){
    outline-color: #f8f8f8;
}

.submit-contact{
    display: inline-block;
    background: rgba(11,172,181,1);
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 10px;
    font-size: 16px;
    left: 0px;
    cursor: pointer;
    height: 40px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(11,172,181,1);
    transition: all 0.3s ease;
}

/* Footer */

.footer{
    font-family: 'Poppins', sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
    
}

.footer-content{
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 0.5px solid #8a8a8a;
}

.footer-content a{
    margin-top: 10px;
    left: 0;
}

.footer-content a img{
    width: 100px;
    height: 30px;
    object-fit: cover;
    padding: 5px;
    margin: 5px;

}
.footer p{
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
}
/* Responsive media query*/

@media (max-width: 1300px){
    .home .max-width{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1095px){
    .about .about-content .left img{
        width: 350px;
        height: 350px; 
    }

    .home .home-content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }

    .home .home-content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 947px){
  
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }
    
    .navbar .menu il{
        display: block;
    }

    .navbar .menu il a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .max-width.disable{
        display: none;
        transition: all 0.3s ease;
    }

    .home .home-content {
        margin-left: auto;
        margin-right: auto;
    }

    .home .home-content .text-2{
        font-size: 35px;
    }
    
    .home .home-content .text-3{
        font-size: 25px;
 
    }
    
    .max-width{
        width: 800px;
    }

    .about .about-content .content{
        width: 100%;
    }

    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%
    }

    .skills-content .box-skills{
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 50px;
    }

    .projects .projects-content .box-projects{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 816px){
    .max-width{
        width: 700px;
        padding: 0 40px;
    }

    .home .home-content .text-2{
        font-size: 30px;
    }
    
    .home .home-content .text-3{
        font-size: 20px;
 
    }

}

@media (max-width: 716px){
    .max-width{
        width: 500px;
    }

    .skills-content .box-skills{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }

    .projects .projects-content .box-projects{
        grid-template-columns: 1fr;
        padding: 2rem 55px;
    }

    .projects .projects-content .box-projects .card-project{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 516px){
    .max-width{
        width: 375px;
    }

}

@media (max-width: 480px){
    
    .home .home-content .text-2{
        font-size: 25px;
    }
    
    .home .home-content .text-3{
        font-size: 15px;
 
    }
}
@media (max-width: 375px){
    .about .title::before{
        bottom: -250px;
    }

    .about .title::after{
        bottom: -264px;
    }

    .skills .title::before{
        bottom: -1240px;
    }

    .skills .title::after{
        bottom: -1252px;
    }

    .projects .projects-content .box-projects .card-project{
        width: 250px;
        height: 250px;
    }
}